<form action='/results'>
  <div class="form-group">
    <label for="input_word">Your Scrabble Word</label>
    <input id="input_word" name="input_word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
